<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="images/hybridcloud.png">
    <link rel="stylesheet" href="css/home.css">
    <style>
      input[type='number'] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: 0;
        font-family: 'Open Sans', serif;
      }
      .body {
          width: 100vw;
        }
        #form_bg {
          background-color:rgba(255,255,255,.4);
          border-style: solid;
          border-width: 1px;
          border-color:whitesmoke;
          width: 80vw;
        }
        .bg {
            animation:slide 4s ease-in-out infinite alternate;
            background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
            bottom:0;
            left:-50%;
            opacity:.5;
            position:fixed;
            right:-50%;
            top:0;
            z-index:-1;
        }
        
        .bg2 {
            animation-direction:alternate-reverse;
            animation-duration:2s;
        }
        
        .bg3 {
            animation-duration:4s;
        }
        
        h1 {
            font-family:monospace;
        }
        
        @keyframes slide {
            0% {
                transform:translateX(-25%);
            }
        
            100% {
                transform:translateX(25%);
            }
        }
    </style>
  </head>
<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
          <a href="/"><button class="btn btn-outline-dark float-left">Home</button></a>
          <a href="/random"><button class="btn btn-outline-dark float-right">Random Quote</button></a>
      </div>
    </div>
  </div>

<!-- convert to VUEjs-->
  <section class="jumbotron text-center">
    <div class="container">
      <h4 class="card-header" >Login</h4>
      <div class="card-body">
      
        <h3>Add/Edit a Referral</h3>

      <form @submit.prevent="update">
        <div class="row">
          <div class="col-6">
            <input
              v-model="form.name"
              type="text"
              placeholder="Name"
              ref="name"
              size="60"
            />
          </div>
          <div class="col-6">
            <input
              type="number"
              v-model="form.stock"
              placeholder="Stock"
              ref="stock"
              size="60"
              min="0"
            />
          </div>
        </div>
        <input type="submit" value="Save" />
      </form>
      </div>

      <div class="col-8">
        <a @click="edit( fruit )" class="btn">Edit</a>
        <a @click="remove( fruit )" class="btn">Remove</a>
      </div>

      <h3>VUE Quotes are here </h3>
      <div>
        {{ this.quotes.title }}
        {{ this.quotes.today }}
        {{ this.quotes }}
        <button @click="testFetch">Fetch</button>
      </div>

      <h1 class="jumbotron-heading"><%= title %></h1>
      <h2><%= today %></h2>
      <p class="lead text-muted">
          <i><%=quote%></i>
      </p>
    </div>

  </section>
  

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
    integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
</script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      form: {
        id: -1,
        name: 'INIT NAME',
        stock: 10,
      },
      quotes: {
        today: 'What is tody',
        title: 'My title',
      },
    },

    methods: {
      testFetch() {
        console.log("TEST FETCH");
      },
      async update() {
            this.form.name = this.$refs.name.value;
            this.form.stock = this.$refs.stock.value;
      },
      async _refreshPageData() {
        const result = await fetch('/random', {
          method: 'GET',
        });
        if (result.ok) {
          const resultData = await result.json();
          
          console.log("RESULT DATA", resultData);
          this.quotes = resultData;
          this.quotes.today = 'Today is the last day of the first day',
          this.quotes.title = 'Random Quote'
        } else {
          console.log("No result",result.statusText);
        }
      },
     
    },
    mounted: function () {
      this._refreshPageData();
    },
  });
</script>
    
</body>
</html>
